!!! 5
%html
  %head
    = render :partial => "haml/head"
  %body
    = render :partial => "haml/navbar"
    .main
      .container
        = render :partial => "haml/search"
        .row
          #t3news.col-xs-9
          #t3ver.col-xs-3

    = render :partial => "haml/footer"
    = render :partial => "haml/scripts"